
<header class="resume-header pt-4 pt-md-0">
        <div class="media flex-column flex-md-row">
            <img class="mr-3 img-fluid picture mx-auto" src="{{ .Site.BaseURL }}/images/profile.jpg" alt="">
            <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                <div class="primary-info">
                    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{ .Site.Params.personal.name}}</h1>
                    <div class="title mb-3">{{ .Site.Params.personal.role }}</div>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{ .Site.Params.social.email }}</a></li>
                        {{ if .Site.Params.social.phone }}
                        <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>{{ .Site.Params.social.phone }}</a></li>
                        {{ end }}
                    </ul>
                </div><!--//primary-info-->
                <div class="secondary-info ml-md-auto mt-2">
                    <ul class="resume-social list-unstyled">
                        <li class="mb-3"><a href="https://{{ .Site.Params.social.linkedin }}" target="_blank"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>{{ .Site.Params.social.linkedin }}</a></li>
                        <li class="mb-3"><a href="https://{{ .Site.Params.social.github }}" target="_blank"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>{{ .Site.Params.social.github }}</a></li>
                        <li class="mb-3"><a href="https://{{ .Site.Params.social.twitter }}" target="_blank"><span class="fa-container text-center mr-2"><i class="fab fa-twitter fa-fw"></i></span>{{ .Site.Params.social.twitter }}</a></li>
                        <li><a href="https://{{ .Site.Params.social.web }}"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>{{ .Site.Params.social.web }}</a></li>
                    </ul>
                </div><!--//secondary-info-->
                
            </div><!--//media-body-->
        </div><!--//media-->
    </header>