
{{ range .Site.Data.workexp.source }}
<article class="resume-timeline-item position-relative pb-5">
                                            
        <div class="resume-timeline-item-header mb-2">
            <div class="d-flex flex-column flex-md-row">
                <h3 class="resume-position-title font-weight-bold mb-1">{{ .position }}</h3>
                <div class="resume-company-name ml-auto">{{ .company }} | {{ .location }} </div>
            </div><!--//row-->
            <div class="resume-position-time">{{ .durat }}</div>
        </div><!--//resume-timeline-item-header-->
        <div class="resume-timeline-item-desc">
            <p>{{ .role }}</p>
            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
            {{ range .achiviements }}
            <p>{{ .name }}</p>
            <ul>
                {{ range .items }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
            <ul class="list-inline">
                {{ range .technologies }}
                <li class="list-inline-item"><span class="badge badge-primary badge-pill">{{ . }}</span></li>
                {{ end }}
            </ul>
            {{ end }}
        </div><!--//resume-timeline-item-desc-->

    </article><!--//resume-timeline-item-->
{{ end }}